@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Heiti TC", "Noto Sans TC", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        @apply text-[#334155];
    }

    input, button, a {
        @apply outline-none;
    }

    input[type="checkbox"] {
        @apply accent-primary;
    }
}

@layer components {
    .btn {
        @apply border-neutral-500 place-items-center grid h-10 text-center border rounded;
    }

    .btn-primary {
        @apply place-items-center bg-primary rounded-xl grid w-full h-12 font-semibold text-white;
    }

    .btn-outline-primary {
        @apply rounded-xl border-primary text-primary place-items-center grid w-full h-12 font-semibold bg-white border border-solid;
    }

    .title {
        @apply text-[#101840];
    }

    .input {
        @apply w-full px-4 py-3 border rounded-lg outline-none border-[#d3d8e1] transition-all focus:border-primary focus:shadow-[0_0_0_4px_#DDE0FF];
    }

    .input.is-invalid {
        @apply border-error;
    }
}
