@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Heiti TC", "Noto Sans TC", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    input {
        @apply outline-none;
    }
}

@layer components {
    .btn {
        @apply border-neutral-500 place-items-center grid h-10 text-center border rounded;
    }

    .btn-submit {
        @apply h-11 place-items-center grid w-full text-white bg-blue-800 rounded;
    }

    .input {
        @apply border-neutral-500 w-full px-3 py-1.5 border rounded outline-none;
    }

    .input.is-invalid {
        @apply border-red-600;
    }
}
